@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Roboto:wght@100;300;400;500;700;900&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: "DM Sans", sans-serif;
  border: none;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9f94ff22;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9F94FF;
}
.signup-page {
  position: relative;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.signup-left-side {
  position: relative;
}

.signup-left-side img {
  position: relative;
  width: 45rem;
  height: 100%;
}

.img-bottom-txt {
  position: absolute;
  bottom: 5.5rem;
  left: 2rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 43.4375rem;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 141.688%; /* 4.8705rem */
  letter-spacing: 0.06875rem;
  background-color: transparent;
}

.signup-right-side-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 33rem;
  margin: auto;
}
.signup-right-side-wrapper h1 {
  color: #72db73;
  font-family: "Single Day", cursive;
  font-size: 4.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 5.84944rem */
}

.signup-right-side-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-right-side-wrapper form input {
  width: 31.375rem;
  height: 4.05431rem;
  border-radius: 0.2385rem;
  background-color: #292929;
  color: #7c7c7c;

  font-size: 1.25206rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%;
  letter-spacing: 0.02506rem;
  border: none;
  padding: 0 1rem;
}
.signup-right-side-wrapper form span {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.signup-right-side-wrapper form span p {
  color: #7c7c7c;
  font-size: 1.25206rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 1.749rem */
  letter-spacing: 0.02506rem;
}
.signup-right-side-wrapper form input[type="checkbox"] {
  width: 1.125rem;
  height: 1.125rem;
  background-color: #d9d9d9;
}
.signup-right-side-wrapper form input[type="submit"] {
  width: 32.375rem;
  height: 3.4375rem;
  border-radius: 1.75rem;
  background-color: #72db73;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 108.688%; /* 1.96994rem */
  letter-spacing: 0.03625rem;
}
.signup-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 32rem;
  margin-top: 1.5rem;
}
.signup-details span a {
  color: #72db73;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 141.7%;
  letter-spacing: 0.0225rem;
}
.create-acc-txt {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 2.18263rem */
  margin-bottom: 3rem;
}
.input-control input:focus {
  outline: 0;
}
.input-control.error input {
  border: 2px solid rgba(255, 0, 0, 0.688);
}
.input-control .error {
  color: #ff3860;
  font-size: 0.75rem;
  height: 1.5px;
  margin-top: 0.25rem;
}
.category-wrapper {
  display: flex;
  gap: 5rem;
}
.category-right-wrapper {
  margin: 4rem 4rem 0rem 0rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(14rem, 1fr));
  gap: 1rem;
}
.category-container {
  width: 13rem;
  height: 13rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  padding: 0.5rem;
  justify-content: center;
}
.category-container.selected {
  border: 6px solid #11b800;
}
.category-container p {
  color: #fff;
  font-family: "DM Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: inherit;
}
.category-container img {
  width: 11.3015rem;
  border-radius: 0.72881rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.55);
  align-self: center;
}
.category-left-wrapper {
  margin: 5.31rem 0rem 0rem 6.1rem;
}
.category-left-wrapper h1 {
  color: #72db73;
  font-family: "Single Day", cursive;
  font-size: 4.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 6.19863rem */
}
.category-left-wrapper p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 139.688%; /* 5.93675rem */
}
.warning-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 2rem;
}
.warning-txt p {
  color: #f00;
  font-family: "Roboto", sans-serif;
  font-size: 1.57125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 1.66063rem */
  letter-spacing: 0.03144rem;
}
.selected-categories {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.selected-category {
  width: 12.0625rem;
  height: 3.25rem;
  border-radius: 1.9375rem;
  background: #148a08;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.selected-category p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.57144rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 1.66081rem */
  letter-spacing: 0.03144rem;
  background-color: inherit;
}
.selected-category button {
  color: #085c00;
  font-family: "Roboto", sans-serif;
  font-size: 1.64581rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 1.73944rem */
  letter-spacing: 0.03294rem;
  background-color: inherit;
  border: none;
}
.next-btn {
  position: fixed;
  bottom: 2.2rem;
  right: 4.4rem;
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 2.42856rem;
  background-color: #148a08;
  color: #fff;
  text-align: center;
  font-size: 1.64288rem;
  font-style: normal;
  font-weight: 500;
  line-height: 92.2%; /* 1.51469rem */
  letter-spacing: 0.03288rem;
  border: none;
}
.profile-wrapper {
  width: 55.75rem;
  height: 35.07744rem;
  border-radius: 2.08925rem;
  background: #5746ea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.profile-img{
  width: 13.08531rem;
height: 28.69969rem;
border-radius: 20.56263rem;
border: 5.278px solid #FFF;
background: url(./assets/images/profileImg2.png), lightgray 50%;
box-shadow: 0px 8.79684px 7.03748px 0px rgba(0, 0, 0, 0.31);
background-size: cover;
background-position: top;
}
.profile-info{
  background-color: inherit;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile-details{
  background-color: inherit;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.profile-details p:nth-child(1),
.profile-details p:nth-child(2){
  color: #FFF;
font-size: 2.30919rem;
font-style: normal;
font-weight: 400;
line-height: 103.188%; /* 2.38275rem */
letter-spacing: 0.04619rem;
background-color: inherit;
}
.profile-details p:nth-child(3){
  color: #FFF;
font-size: 4.50838rem;
font-style: normal;
font-weight: 500;
line-height: 66.188%; /* 2.984rem */
letter-spacing: 0.09019rem;
background-color: inherit;
}
.genre-details{
  background-color: inherit;
  max-width: 510px;
  max-height: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-y: auto;
}
.genre-div{
  width: 12.84469rem;
height: 3.84863rem;
border-radius: 2.30919rem;
background: #9F94FF;
color: #FFF;
font-family: "Roboto", sans-serif;
font-size: 1.75938rem;
font-style: normal;
font-weight: 400;
line-height: 105.688%; /* 1.85944rem */
letter-spacing: 0.03519rem;
display: flex;
align-items: center;
padding-left: 2rem;
}
.news-wrapper{
  width: 28.9375rem;
  align-self: center;
}
.news-top{
  width: 28.9375rem;
  position: relative;
  border-radius: 1.1875rem 1.1875rem 0rem 0rem;
  width: 28.9375rem;
height: 28.6875rem;

background-size: cover;
background-position: top;
}
.news-details{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.642);
}
.news-title{
  color: #FFF;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: 123.688%; /* 2.47375rem */
letter-spacing: 0.04rem;
background-color: transparent;
margin: 0.25rem;
}
.news-date-time{
  margin: 0.25rem;
} 
.news-details p{
  background-color: transparent;
}
.news-details p span{
  background-color: transparent;
  margin-right: 0.25rem;
}
.news-content{
  border-radius: 0rem 0rem 1.1875rem 1.1875rem;
background: #FFF;
color: #272727;
text-align: justify;
font-size: 1.14063rem;
font-style: normal;
font-weight: 400;
line-height: 161.688%; /* 1.84425rem */
padding: 2rem;
height: 17.5rem;
display: flex;
justify-content: center;
align-items: center;
}
.homepage-wrapper{
  display: flex;
  gap: 6rem;
  margin: 1rem 0 0 2.5rem;
  flex-wrap: wrap;
}
.weather-wrapper{
  width: 55.75rem;
height: 15.463rem;
border-radius: 2.08925rem;
background: #101744;
}
.weather-wrapper .date-time{
  width: 100%;
  border-radius: 2.08925rem 2.08925rem 0rem 0rem;
background: #FF4ADE;
display: flex;
justify-content: center;
align-items: center;
gap: 7rem;
}
.weather-wrapper .date-time span{
  background-color: inherit;
  color: #FFF;
font-size: 3.44125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.datacard-wrapper{
  background-color: #101744;
  display: flex;
  gap: 0.8rem;
}
.datacard-wrapper .icon{
  align-self: center;
}
.datacard-wrapper .icon img{
  width: 1.21425rem;
}
.datacard-wrapper .data-wrapper .data-units,
.datacard-wrapper .data-wrapper .data-name{
  background-color: #101744;
  color: #FFF;
font-size: 1.23744rem;
font-style: normal;
font-weight: 400;
line-height: 139.688%;
}
.bottom-weather-wrapper{
  display: flex;
  background-color: inherit;
  gap:10rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.08925rem;
  margin: 5px;
}
.bottom-weather-wrapper div{
  background-color: inherit;
}
.bottom-weather-wrapper div:nth-child(1) .weather-icon img{
  background-color: inherit;
}
.bottom-weather-wrapper div:nth-child(1) p{
  background-color: inherit;
  color: #FFF;
font-size: 1.9645rem;
font-style: normal;
font-weight: 400;
line-height: 139.688%; /* 2.74419rem */
}
.bottom-weather-wrapper div:nth-child(2) .temp{
  background-color: inherit;
  color: #FFF;
font-size: 4.889rem;
font-style: normal;
font-weight: 400;
line-height: 139.688%; /* 6.82938rem */
}
.weather-forcast-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temp-pressure-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-weather-wrapper div:nth-child(3){
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.bottom-weather-wrapper img{
  background-color: inherit;
}
.weather-icon img{
  width: 5rem;
}
.homepage-wrapper .left-div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}