@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Roboto:wght@100;300;400;500;700;900&family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: "DM Sans", sans-serif;
  border: none;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9f94ff22;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9F94FF;
}
.signup-page {
  position: relative;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.signup-left-side {
  position: relative;
}

.signup-left-side img {
  position: relative;
  width: 45rem;
  height: 100%;
}

.img-bottom-txt {
  position: absolute;
  bottom: 5.5rem;
  left: 2rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 43.4375rem;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 141.688%; /* 4.8705rem */
  letter-spacing: 0.06875rem;
  background-color: transparent;
}

.signup-right-side-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 33rem;
  margin: auto;
}
.signup-right-side-wrapper h1 {
  color: #72db73;
  font-family: "Single Day", cursive;
  font-size: 4.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 5.84944rem */
}

.signup-right-side-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-right-side-wrapper form input {
  width: 31.375rem;
  height: 4.05431rem;
  border-radius: 0.2385rem;
  background-color: #292929;
  color: #7c7c7c;

  font-size: 1.25206rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%;
  letter-spacing: 0.02506rem;
  border: none;
  padding: 0 1rem;
}
.signup-right-side-wrapper form span {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.signup-right-side-wrapper form span p {
  color: #7c7c7c;
  font-size: 1.25206rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 1.749rem */
  letter-spacing: 0.02506rem;
}
.signup-right-side-wrapper form input[type="checkbox"] {
  width: 1.125rem;
  height: 1.125rem;
  background-color: #d9d9d9;
}
.signup-right-side-wrapper form input[type="submit"] {
  width: 32.375rem;
  height: 3.4375rem;
  border-radius: 1.75rem;
  background-color: #72db73;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 108.688%; /* 1.96994rem */
  letter-spacing: 0.03625rem;
}
.signup-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 32rem;
  margin-top: 1.5rem;
}
.signup-details span a {
  color: #72db73;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 141.7%;
  letter-spacing: 0.0225rem;
}
.create-acc-txt {
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 2.18263rem */
  margin-bottom: 3rem;
}
.input-control input:focus {
  outline: 0;
}
.input-control.error input {
  border: 2px solid rgba(255, 0, 0, 0.688);
}
.input-control .error {
  color: #ff3860;
  font-size: 0.75rem;
  height: 1.5px;
  margin-top: 0.25rem;
}
.category-wrapper {
  display: flex;
  gap: 5rem;
}
.category-right-wrapper {
  margin: 4rem 4rem 0rem 0rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(14rem, 1fr));
  gap: 1rem;
}
.category-container {
  width: 13rem;
  height: 13rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  padding: 0.5rem;
  justify-content: center;
}
.category-container.selected {
  border: 6px solid #11b800;
}
.category-container p {
  color: #fff;
  font-family: "DM Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: inherit;
}
.category-container img {
  width: 11.3015rem;
  border-radius: 0.72881rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.55);
  align-self: center;
}
.category-left-wrapper {
  margin: 5.31rem 0rem 0rem 6.1rem;
}
.category-left-wrapper h1 {
  color: #72db73;
  font-family: "Single Day", cursive;
  font-size: 4.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 6.19863rem */
}
.category-left-wrapper p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 139.688%; /* 5.93675rem */
}
.warning-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 2rem;
}
.warning-txt p {
  color: #f00;
  font-family: "Roboto", sans-serif;
  font-size: 1.57125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 1.66063rem */
  letter-spacing: 0.03144rem;
}
.selected-categories {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.selected-category {
  width: 12.0625rem;
  height: 3.25rem;
  border-radius: 1.9375rem;
  background: #148a08;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.selected-category p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.57144rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 1.66081rem */
  letter-spacing: 0.03144rem;
  background-color: inherit;
}
.selected-category button {
  color: #085c00;
  font-family: "Roboto", sans-serif;
  font-size: 1.64581rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 1.73944rem */
  letter-spacing: 0.03294rem;
  background-color: inherit;
  border: none;
}
.next-btn {
  position: fixed;
  bottom: 2.2rem;
  right: 4.4rem;
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 2.42856rem;
  background-color: #148a08;
  color: #fff;
  text-align: center;
  font-size: 1.64288rem;
  font-style: normal;
  font-weight: 500;
  line-height: 92.2%; /* 1.51469rem */
  letter-spacing: 0.03288rem;
  border: none;
}
.profile-wrapper {
  width: 30.6875rem;
height: 18.9375rem;
  border-radius: 2.08925rem;
  background: #5746ea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 0.6rem 1rem;
}
.profile-img{
  width: 6.8125rem;
  height: 16.6875rem;
  border-radius: 2.65144rem;
  border: 3.66px solid #FFF;
background: url(./assets/images/profileImg2.png), lightgray 50%;
box-shadow: 0px 8.79684px 7.03748px 0px rgba(0, 0, 0, 0.31);
background-size: cover;
background-position: top;
}
.profile-info{
  background-color: inherit;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile-details{
  background-color: inherit;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.profile-details p:nth-child(1),
.profile-details p:nth-child(2){
  color: #FFF;
font-size: 1.30919rem;
font-style: normal;
font-weight: 400;
line-height: 103.188%; /* 2.38275rem */
letter-spacing: 0.04619rem;
background-color: inherit;
}
.profile-details p:nth-child(3){
  color: #FFF;
font-size: 2.50838rem;
font-style: normal;
font-weight: 500;
line-height: 66.188%; /* 2.984rem */
letter-spacing: 0.09019rem;
background-color: inherit;
}
.genre-details{
  background-color: inherit;
  max-width: 400px;
  max-height: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-y: auto;
}
.genre-div{
  width: 7.4469rem;
height: 2.14863rem;
border-radius: 2.30919rem;
background: #9F94FF;
color: #FFF;
font-family: "Roboto", sans-serif;
font-size: 1.25938rem;
font-style: normal;
font-weight: 400;
line-height: 105.688%; /* 1.85944rem */
letter-spacing: 0.03519rem;
display: flex;
align-items: center;
padding-left: 1rem;
}
.news-wrapper{
  max-width: 27.9375rem;
  align-self: center;
}
.news-top{
  width: 100%;
  position: relative;
  border-radius: 1.1875rem 1.1875rem 0rem 0rem;
height: 26.6875rem;

background-size: cover;
background-position: top;
}
.news-details{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.642);
}
.news-title{
  color: #FFF;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: 123.688%; /* 2.47375rem */
letter-spacing: 0.04rem;
background-color: transparent;
margin: 0.25rem;
}
.news-date-time{
  margin: 0.25rem;
} 
.news-details p{
  background-color: transparent;
}
.news-details p span{
  background-color: transparent;
  margin-right: 0.25rem;
}
.news-content{
  border-radius: 0rem 0rem 1.1875rem 1.1875rem;
background: #FFF;
color: #272727;
text-align: justify;
font-size: 1.14063rem;
font-style: normal;
font-weight: 400;
line-height: 161.688%; /* 1.84425rem */
padding: 2rem;
height: 17.5rem;
display: flex;
justify-content: center;
}
.homepage-wrapper{
  display: flex;
  justify-content: center;
  margin:20px 20px 40px 20px;
}
.weather-wrapper{
  width: 100%;
height: 11.0625rem;
border-radius: 1.1875rem;
background: #101744;
}
.weather-wrapper .date-time{
  width: 100%;
  border-radius: 1.1875rem 1.1875rem 0rem 0rem;
background: #FF4ADE;
display: flex;
justify-content: center;
align-items: center;
gap: 7rem;
}
.weather-wrapper .date-time span{
  background-color: inherit;
  color: #FFF;
  font-size: 2.0625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.datacard-wrapper{
  background-color: #101744;
  display: flex;
  gap: 0.8rem;
}
.datacard-wrapper .icon{
  align-self: center;
}
.datacard-wrapper .icon img{
  width: 1.21425rem;
}
.datacard-wrapper .data-wrapper .data-units,
.datacard-wrapper .data-wrapper .data-name{
  background-color: #101744;
  color: #FFF;
  font-size: 1.11663rem;
font-style: normal;
font-weight: 400;
line-height: 139.688%;
}
.bottom-weather-wrapper{
  display: flex;
  background-color: inherit;
  gap:4rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.08925rem;
  margin: 5px;
}
.bottom-weather-wrapper div{
  background-color: inherit;
}
.bottom-weather-wrapper div:nth-child(1) .weather-icon img{
  background-color: inherit;
}
.bottom-weather-wrapper div:nth-child(1) p{
  background-color: inherit;
  color: #FFF;
  font-size: 1.11663rem;
font-style: normal;
font-weight: 400;
line-height: 139.688%; /* 2.74419rem */
}
.bottom-weather-wrapper div:nth-child(2) .temp{
  background-color: inherit;
  color: #FFF;
  font-size: 2.77888rem;
font-style: normal;
font-weight: 400;
line-height: 139.688%; /* 6.82938rem */
}
.weather-forcast-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temp-pressure-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-weather-wrapper div:nth-child(3){
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.bottom-weather-wrapper img{
  background-color: inherit;
}
.weather-icon img{
  width: 5rem;
}
.homepage-wrapper .left-div{
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}
.notes-wrapper{
  min-width: 25.375rem;
  margin-right: 2rem;
max-height: 27.6rem;
position: relative;
font-family: "Roboto", sans-serif;
}
.notes-wrapper p{
  position: absolute;
  color: #000;
  font-family: "Roboto", sans-serif;
font-size: 2.375rem;
font-style: normal;
font-weight: 600;
line-height: 105.688%; /* 2.51006rem */
letter-spacing: 0.0475rem;
background-color: #F1C75B;
top: 1rem;
left: 1rem;
}
.notes-wrapper textarea{
  border-radius: 1.1875rem;
  resize: none;
  width: 100%;
  height: 100%;
background: #F1C75B;
  padding: 70px 10px 20px 20px;
  border: none;
  color: #000;
font-family: Roboto;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: 105.688%; /* 1.38713rem */
letter-spacing: 0.0525rem;
}
.timer-wrapper{
  width: 59.875rem;
max-height: 16.8125rem;
border-radius: 1.1875rem;
background: #1E2343;
display: flex;
justify-content: space-around;
align-items: center;
}
.left-div-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
}
.timer-wrapper form{
  display: flex;
  flex-direction: column;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.inputs-wrapper{
  display: flex;
  gap: 3rem;
}
.timer-wrapper form > *{
  background-color: inherit;
}
.input-wrapper{
  display: flex;
  flex-direction: column;
  background-color: inherit;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1rem;
}
.input-wrapper span,
.input-wrapper input{
  background-color: inherit;
}
.input-wrapper span{
  color: #949494;
font-size: 1.625rem;
font-style: normal;
font-weight: 400;
line-height: 105.688%; /* 1.71744rem */
letter-spacing: 0.065rem;
}
.input-wrapper input{
  font-size: 3rem;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
.timer-wrapper form button{
  width: 27rem;
  border-radius: 1.25rem;
background: #FF6A6A;
color: #FFF;
font-size: 1.9375rem;
font-style: normal;
font-weight: 400;
line-height: 105.688%; /* 2.04769rem */
letter-spacing: 0.0775rem;
}
.browse-btn{
  position: absolute;
  bottom: 0px;
  right: 16px;
  width: 11.1875rem;
  height: 3.1325rem;
  border-radius: 2.17356rem;
background: #148A08;
color: #FFF;
text-align: center;
font-family: "DM Sans";
font-size: 1.47038rem;
font-style: normal;
font-weight: 500;
line-height: 92.2%; /* 1.35569rem */
letter-spacing: 0.02944rem;
}
.browse-page{
  margin: 10px;
}
.browse-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.browse-header h1{
  color: #72DB73;
font-family: "Single Day",sans-serif;
font-size: 2.95831rem;
font-style: normal;
font-weight: 400;
line-height: 139.688%; /* 4.13244rem */
}
.browse-header button{
  width: 4.0625rem;
height: 4.0625rem;
border-radius: 50%;
border: 1.413px solid #FFFCFC;
background: url(./assets/images/profileImg2.png), lightgray 50%;
background-size: cover;
box-shadow: 0px 2.529px 2.023px 0px rgba(0, 0, 0, 0.31);
}

.action-row{
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.genre-row{
  &::-webkit-scrollbar {
    display: none;
  }
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  
}
.action-card{
  position: relative;
  min-width: 19rem;
height: 10rem;
}
.action-card p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: #00000075;
  text-align: center;
}
.action-card img{
  width: 100%;
}
.action-title{
  color: #878787;
font-size: 1.875rem;
font-style: normal;
font-weight: 500;
line-height: 139.688%; /* 2.61913rem */
letter-spacing: 0.0375rem;
}